---
layout: page
title: Blog
tag: 
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
<section class="list">
    <h1 class="title">Tags</h1>

    {% assign tags_list = site.tags %}

    {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
            <a class="item" href="#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    {% else %}
        {% for tag in tags_list %}
            <a class="item" href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
        {% endfor %}
    {% endif %}

    {% assign tags_list = nil %}
</section>
