<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">home</a>
            </li>
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "about" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">about</a>
                </li>
            {% endif %}
        {% endif %}
        
        {% if site.blog == true %}
            {% if page.title != "footnotes" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">footnotes</a>
                </li>
            {% endif %}
        {% endif %}

         {% if site.blog == true %}
            {% if page.title != "more" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/more">more</a>
                </li>
            {% endif %}
        {% endif %}

        
    </ul>
</nav>
